h1 {
    margin-top: 20px;
}

.danger {
    border: red 2px solid !important;
}
.hint-danger {
    color: red !important;
}

.success {
    border: rgb(0, 184, 0) 2px solid !important;
}
.hint-success {
    color: rgb(0, 184, 0) !important;
}